input {
  display:block;
  width: 285px;
  height: 40px;
  border-color: grey;
  border-width: 1px;
  border-radius: 2px;
  padding: 10px;
}

label.inputLabel{
  font-size: 13px;
  display:inline-block;
  margin-bottom: 15px;
}
