<div class="container">
  <h1>Register your business</h1>
  <h2>Lets get started</h2>
  <app-file-upload-component></app-file-upload-component>
  <h1>General Information</h1>
  <div class="container2">
    <div class="input-container">
      <label class="inputLabel" for="input">Business Name</label>
      <input matInput class="input" placeholder="this is the place holder"/>
    </div>
    <div class="input-container">
      <label class="inputLabel" for="input">Legal business name</label>
      <input matInput class="input" placeholder="this is the place holder"/>
    </div>
    <div class="input-container">
      <label class="inputLabel" for="input">Business country</label>
      <input matInput class="input" placeholder="this is the place holder"/>
    </div>
    <div class="input-container">
      <label class="inputLabel" for="input">Business entity</label>
      <input matInput class="input" placeholder="this is the place holder"/>
    </div>
    <div class="input-container">
      <label class="inputLabel" for="input">Business registration</label>
      <input matInput class="input" placeholder="this is the place holder"/>
    </div>
    <div class="input-container">
      <label class="inputLabel" for="input">Business VAT</label>
      <input matInput class="input" placeholder="this is the place holder"/>
    </div>
  </div>

  <h1>Contact Information</h1>

  <h1>Physical address</h1>

  <div class="tools">
    <button mat-stroked-button color="warn">Canel</button>
    <button mat-stroked-button disabled>Confirm</button>
  </div>

</div>
