<div fxLayout="row">
  <div fxFlex></div>
  <!-- CONTAINTER -->
  <div class="form-container" fxFlex="60">
    <!-- ROW 1-->
    <div fxLayoutGap="3rem">
      <div fxFlex class="form-group">
        <label for="one">ONE:</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="ONE" />
        </mat-form-field>
      </div>
      <div fxFlex class="form-group">
        <label for="one">ONE:</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="ONE" />
        </mat-form-field>
      </div>
    </div>
    <!-- END OF ROW 1-->

    <!-- ROW 2 -->
    <div fxLayoutGap="3rem">
      <div fxFlex class="form-group">
        <label for="one">ONE:</label>
        <mat-form-field appearance="outline">
          <select matNativeControl required>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </mat-form-field>
      </div>
      <div fxFlex class="form-group">
        <label for="one">ONE:</label>
        <mat-form-field appearance="outline">
          <select matNativeControl required>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </mat-form-field>
      </div>
    </div>
    <!-- END OF ROW 2 -->

    <!-- ROW 3-->
    <div fxLayoutGap="3rem">
      <div fxFlex class="form-group">
        <label for="one">ONE:</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="ONE" />
        </mat-form-field>
      </div>
      <div fxFlex class="form-group">
        <label for="one">ONE:</label>
        <mat-form-field appearance="outline">
          <input matInput placeholder="ONE" />
        </mat-form-field>
      </div>
    </div>
    <!-- END OF ROW 3-->

    <!-- ROW 4-->
    <div>
      <div fxFlex class="form-group">
        <label for="one">ONE:</label>
        <mat-form-field appearance="outline">
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
      </div>
    </div>
    <!-- END OF ROW 4-->
  </div>
  <!-- END OF CONTAINER -->
  <div fxFlex></div>
</div>
