<div fxLayout="row">
  <div
    class="left-margin"
    fxLayout="column"
    fxFlex
    fxLayoutAlign="start center"
  >
    <button mat-button>
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>
  </div>
  <!-- CONTAINTER -->
  <div class="form-container" fxFlex="50">
    <p class="page-tile">Register your business</p>
    <p class="page-substitle">Lets get started</p>
    <h1 class="section-title">General Information</h1>
    <!-- ROW 1-->
    <div fxLayoutGap="3rem">
      <div fxFlex class="form-group">
        <label class="input-label" for="bus_name">Business name</label>
        <mat-form-field appearance="outline">
          <input
            class="input-content"
            id="bus_name"
            required
            matInput
            placeholder="Business name"
          />
        </mat-form-field>
      </div>
      <div fxFlex class="form-group">
        <label class="input-label" for="one">Legal business name</label>
        <mat-form-field appearance="outline">
          <input
            class="input-content"
            required
            matInput
            placeholder="Legal business name"
          />
        </mat-form-field>
      </div>
    </div>
    <!-- END OF ROW 1-->

    <!-- ROW 2 -->
    <div fxLayoutGap="3rem">
      <div fxFlex class="form-group">
        <mat-label class="input-label">Business coutry</mat-label>
        <mat-form-field appearance="outline">
          <mat-label>Select a country</mat-label>
          <select matNativeControl required> </select>
        </mat-form-field>
      </div>
      <div fxFlex class="form-group">
        <label class="input-label" for="one">Business entity</label>
        <mat-form-field appearance="outline">
          <mat-label>Select an entity</mat-label>
          <select matNativeControl required> </select>
        </mat-form-field>
      </div>
    </div>
    <!-- END OF ROW 2 -->

    <!-- ROW 3-->
    <div fxLayoutGap="3rem">
      <div fxFlex class="form-group">
        <label class="input-label" for="one">Business registration</label>
        <mat-form-field appearance="outline">
          <mat-label>Number</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
      <div fxFlex class="form-group">
        <label class="input-label" for="one">Business VAT</label>
        <mat-form-field appearance="outline">
          <mat-label>Number</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <!-- END OF ROW 3-->

    <!-- ROW 4-->
    <div>
      <div fxFlex class="form-group">
        <label class="input-label" for="one">Business overview</label>
        <mat-form-field appearance="outline">
          <textarea matInput placeholder="What do you do?"></textarea>
          <mat-hint>Use 20 or more characters</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <!-- END OF ROW 4-->
  </div>
  <!-- END OF CONTAINER -->
  <div fxFlex></div>
</div>
